#div1 {
    height: 100px;    
    width: 300px;
    background: #34ebcc;
    color: #eb34df;
    float: left;
    margin-top: 40px;
    
}
#div2 {
    height: 100px;    
    width: 300px;
    background: #34ebcc;
    color: #eb34df;  
    margin-top: 40px;
    float: right;
}

