<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .react {
            height: 200px;

            
            width: 400px;
            background: #34ebcc;
            color: #eb34df;
            text-align: center;
            position: relative;
            margin-top: 20px;
        }

        h1 {
            position: absolute;
            left: 50%;
            transform: translate(-50, 150%);
        }
    </style>

</head>

<body>
    <div class="react">
        <centre><h1>A</h1></centre>
        
    </div>
</body>

</html>